.jeu {
  color: rgb(153, 0, 255);
}

.joueur {
  color: blue;
}

.monstre {
  color: orange;
}

.pv {
  color: green;
}

.degat {
  color: red;
}

#text-zone {
  height: 300px;
}

#text-block {
  max-height: 300px;
  overflow-y: scroll;
}

#btn-top,
#btn-left,
#btn-right,
#btn-bottom {
  font-size: 50px;
}
